<!-- Bot Traffic Radar Embed Section -->
<div class="grid md:grid-cols-1 gap-6">
  <div class="card">

    
    <div class="flex justify-center">
      <iframe 
        class="cf-radar-embed" 
        width="800" 
        height="542" 
        src="https://radar.cloudflare.com/embed/DataExplorerVisualizer?path=bots%2Ftimeseries&dateRange=52w&mainLocation=GB&param_limitPerGroup=25&locale=en-US&widgetState=%7B%22showAnnotations%22%3Atrue%2C%22xy.hiddenSeries%22%3A%5B%5D%2C%22xy.highlightedSeries%22%3Anull%2C%22xy.hoveredSeries%22%3Anull%2C%22xy.previousVisible%22%3Atrue%7D&ref=%2Fexplorer%3FdataSet%3Dbots%26dt%3D52w%26loc%3DGB" 
        title="Cloudflare Radar - Bots HTTP requests time series for United Kingdom" 
        loading="lazy" 
        style="border:0;max-width:100%;">
      </iframe>
    </div>
    

  </div>
</div>
